
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&family=Sawarabi+Mincho&family=Zen+Maru+Gothic&display=swap');


/* ローディング画面 */
#loading {
    transition: all 1s;
    background-color: #ddd;
    position: fixed;
    z-index: 9999;
    inset: 0;
    display: grid;
    place-items: center;
    width: 390px;
    height: 900px;
}
.spinner {
    width: 150px;
    height: 150px;
    place-items: center;
}

/* ローディング完了したらローディング画面を隠す */
.loaded {
    opacity: 0;
    visibility: hidden;
}

/*ローディング後*/
body{
    background-color:#c53d43;
    color:#fff;
    /*font-family: "Sawarabi Gothic", sans-serif;/*さわらびゴシック*/
    /*font-family: "Sawarabi Mincho", serif;/*さわらび明朝*/
    font-family: "Zen Maru Gothic", serif;/*Zen Maru Gothic*/
    /*font-weight: 400;*/
    font-style: normal;
    font-size: 40px !important;
    text-align: center;
    width: 390px;
}


a:link { color: #333333; } /*訪問したことのないリンク先のリンク色を指定。*/
a:visited { color: #333333;} /*訪問したことあるリンク先のリンク色を指定。*/
a:hover { color: #e6b422;} /*選んでいる状態のリンク色を指定*/

/*表示範囲を確認する枠*/
/*{
    outline: 2px red solid;
}*/


h1{
    font-family: "Zen Maru Gothic", serif;/*Zen Maru Gothic*/
    color: #000;
    font-size: 100px;
    text-align: center;

}

h2{
    font-family: "Zen Maru Gothic", serif;/*Zen Maru Gothic*/
    color: #fff;
    font-size: 60px;
    text-align: center;

}


.midashi{
    margin-top: 25%;
    margin-bottom: 450px;
    width: 390px;
    font-size: 20px;
}

.Logo{
    margin-bottom: 90px;
}


.btn {
    text-align: center;
    background: #b18309; 
    background: linear-gradient(90deg, #b18309, #cfa836, #b18309); 
    color: #ffffff;
    box-shadow: 0 5px 0 #584807;
    border-radius: 50vh; 
    padding: 0.5em 1em 0.8em;
    line-height:1;
    display: inline-block;
    width: 200px;
    height: 50px;
    a {
        text-decoration: none;
      }
  }

.text{
    font-size: 20px;
    text-align: center;
}


.kuji-text{
    font-size: 25px;
    width: 390px;
    height: 0px;
    margin-top: 50px;
}

.select{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 400px;
    a {
        text-decoration: none;
      }
}

.btn-malformation {
    text-align: center;
    font-size: 20px;
    padding: 2rem 3rem;
    color: #fff;
    border-radius: 100% 80px / 80px 100%;
    background-color: #b18309;
    background: linear-gradient(90deg, #b18309, #cfa836, #b18309); 
    box-shadow: 0 5px 0 #584807;
    margin: 5px;

}

#Massage{
    margin-bottom: 290px;
}

#snake{
    animation:3s linear infinite rotation1;
    height: 250px;
}
@keyframes rotation1{
    0%{ transform:rotate(0);}
    100%{ transform:rotate(-360deg); }
}

.sna{
    margin-top: 100px;
}


.radius {
    font-size: 35px !important;
}

.info {
    font-size: 15px;
    text-align: center;
    width: 390px;
}

.copyright{
    background-color: #fff;
    padding: 1rem 2rem;
    margin-top: 2rem;
    color: #000;
    text-align: center;
    font-size: 15px;
    width: 390px;
    height: 70px;
}

/*----ヘッダーについて----　https://web-camp.io/magazine/archives/88361/　*/
.page-header {
    padding-top: 1%;
    z-index: 100;/* 重なり順を一番上にする */
    position: fixed;
    position: relative;
    top: 0px; left: 0px;
    display: flex;
}


#kujiba{
    margin-top: 7px;
    margin-left: 15px;
}
  
.logo {
    font-size: 24px;
    color: #333;
}
  
/******* ここから下がハンバーガーメニューに関するCSS ******/

/*メニュー内ロゴ*/
#taitolkuro{
    margin-top: 50%;
    margin-bottom: 10px;
}
    
/* チェックボックスを非表示にする */
.drawer_hidden {
   display: none;
}
  
/* ハンバーガーアイコンの設置スペース */
.drawer_open {
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 80%;
    z-index: 100;/* 重なり順を一番上にする */
    cursor: pointer;
    font-size: 7px;
    color: #333;
    position: fixed;
    opacity: 0.75;
}
  
/* ハンバーガーメニューのアイコン */
.drawer_open span,
.drawer_open span:before,
.drawer_open span:after {
    content: '';
    display: block;
    height: 4px;
    width: 30px;
    border-radius: 3px;
    background: #333;
    transition: 0.5s;
    position: absolute;
    
    
}
  
/* 三本線の一番上の棒の位置調整 */
.drawer_open span:before {
    bottom: 8px;
}
  
/* 三本線の一番下の棒の位置調整 */
.drawer_open span:after {
    top: 8px;

}
  
/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer_input:checked ~ .drawer_open span {
    background: rgba(255, 255, 255, 0);
}
  
/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer_input:checked ~ .drawer_open span::before {
    bottom: 0;
    transform: rotate(45deg);
}
  
#drawer_input:checked ~ .drawer_open span::after {
    top: 0;
    transform: rotate(-45deg);
}
    
/* メニューのデザイン*/
.nav_content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%; /* メニューを画面の外に飛ばす */
    z-index: 99;
    background: #fff;
    transition: .5s;
    font-size: 25px;
    /*margin-top: 25%;*/
}
  
/* メニュー黒ポチを消す */
  .nav_list {
    list-style: none;
    padding: 5%;
}
  
/* アイコンがクリックされたらメニューを表示 */
#drawer_input:checked ~ .nav_content {
    left: 0;/* メニューを画面に入れる */
}
  